<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="aspect-ratio-container">
                <img src="~/Images/project/a1.jpg" alt="" />
            </div>
            <div class="info-box">
                <h2 class="h5 text-info mb-0 col-12" style="padding:10px 0 0 10px;">
                    item.Title
                </h2>
                <div class="price">
                    @if(item.DiscountPrice != 0){
                        <div class="col-8 d-flex justify-content-end align-items-center"
                             style="padding-right: 5%;">
                            <span class="text-white">- @(((item.DiscountPrice / item.SalePrice) * 100).ToString("0.##")) %</span>
                        </div>
                    }
                    
                    <div class="d-flex col-4 p-0" style="flex-wrap: wrap;">
                        <p class="mt-0 text-white col-12 pt-3 m-0 ori-p">
                            NT$ 1790
                        </p>
                        <!-- ori-p => origin price -->
                        <p class="mt-0 text-white col-12 p-0 disc-p">NT$ 1690</p>
                        <!-- disc-p => discount price -->
                    </div>
                </div>
            </div>
        </div>
    }

</div>
